<img id="original">
<p>preview:
<img id="preview">
<form action="avatar" method="post" accept-charset="utf-8" id="upload-avatar">
  <input type="file" name="avatar">

  <p>
  <input type="submit" value="Загрузить"></p>
</form>
