<form action="avatar" method="post" accept-charset="utf-8">
  <input type="file" name="avatar">
  <canvas id="canvas" width="0px" height="0px"> 
      Sorry, your browser doesn't support the &lt;canvas&gt; element.
  </canvas>
  <img id="preview">

  <p>
  <input type="submit" value="Загрузить"></p>
</form>
